<!DOCTYPE html>
<html>
	<head>
		<title>Результат</title>
	</head>
	<body>
		<h1> Результаты вашего теста </h1>    
		
		<div>
			<table  cellspacing="2" border="1" cellpadding="5">
				<tr> <td> № </td> <td> Вопрос </td> <td> Ваш ответ </td> <td> Правильный ответ </td> <tr>
				<% cookies[:mas_test_answer].each_index do |i| %>
					<tr> 
						<td> <%= i+1 %> </td> 
						<td> <%= params[:tests] [cookies[:mas_test_number][i]]["question"] %> </td> 
						<td> <%= 	if (cookies[:mas_test_answer][i] == -1)  
										not_answer 
									else params[:tests] [cookies[:mas_test_number][i]]["answers"][cookies[:mas_test_answer][i]] end %> </td>
						<td> <%= params[:tests] [cookies[:mas_test_number][i]]["answers"][0] %> </td> 
					<tr>
				<% end %>
			</table>
		</div>
		<div>
			<h3> Количество тестов =  				<%= @kol_testov %> </h3>
			<h3> Количество ответов =  	<%= answers %> </h3>
			<h3> Количество правильных ответов =  	<%= @ball %> </h3>
			<h3> Процент правильных ответов =  		<%= @procent_tru_answers %> %</h3>
		<div>
		<div>
			<p>	Этот сайт предназначен для тех кто хочет проверить свои знания.
			</p> 
		</div>
		<input  value="Пройти снова" name="test_begin" onclick="location.href='/test/index'" type="button">
	</body>
</html>