<!DOCTYPE html>
<html>
	<head>
		<title>Тесты</title>
	</head>
	<body>
		<div>
			<h2> Вопрос №<%= cookies[:test_number] + 1 %> <h2>
			<h3>
				<%= params[:tests] [cookies[:mas_test_number][cookies[:test_number]]]["question"] %>
			</h3>    
		<%= form_tag("/test/a", method: "get") do %>
			<% params[:tests][cookies[:mas_test_number][cookies[:test_number]]]["answers"].each_index do |i| %>
			  	<%= radio_button_tag(:answerId, cookies[:mas_random_variants][cookies[:test_number]][i]) %>
				<%= label_tag(:answer, params[:tests] [cookies[:mas_test_number][cookies[:test_number]]]["answers"][cookies[:mas_random_variants][cookies[:test_number]][i]] ) %> <Br>
			<% end %>
			<%= submit_tag("Ответить") %>
		<% end %>

			<input type="button" name="next_question" value="Предыдущий вопрос" onclick="location.href='/test/index/prev'">
			<% cookies[:mas_test_number].each_index do |i| %>
				<a href='/test/question/<%= i + 1 %>'> № <%= i + 1 %> </a>
			<% end %>
			<input type="button" name="pred_question" value="Следующий вопрос" onclick="location.href='/test/index/next'"> <Br> <Br> <Br>
		</div>
		
		<input type="button" name="result" value="Завершить тестирование" onclick="location.href='/rezult/index'">

		<%= form_tag("/search", method: "get") do %>
		  <%= label_tag(:q, "Search for:") %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Search") %>
		<% end %>

		<h2> cookies[:test_number] = <%= cookies[:test_number] %> <h2>

		<h2> cookies[:mas_test_answer] = <%= cookies[:mas_test_answer] %> <h2>

		<h2> cookies[:mas_test_number] = <%= cookies[:mas_test_number] %> <h2>

		<h2> cookies[:mas_random_variants] = <%= cookies[:mas_random_variants] %> <h2>
			
		<h2>  = <%=  %> <h2>
	</body>
</html>