<!DOCTYPE html>
<html>
	<head>
		<title>Главная</title>
	</head>
	<body>
		<h1> Ассаламу гIалайкум ва раhматуЛлаhи ва баракатуhу!</h1>    
		<h1> Мира вам, Милости и Благославления Всевышнего!</h1>    
		<h1> Сайт для тестирования базовых знаний</h1>    
		<h2>Описание </h2>
		<div>
			<p>	Этот сайт предназначен для тех кто хочет проверить свои знания. </p> 
		</div>
		<input  value="Начать тест" name="test_begin" onclick="location.href='/test/index'" type="button">
	</body>
</html>